
beautifulsoup4==4.13.3
bs4==0.0.2
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
gunicorn==23.0.0
numpy==2.0.2
pandas==2.2.3
plotly==6.0.0
regex==2024.11.6
requests==2.32.3
